h1 {
  margin: 0
}
.box {
  height: 1000px;
  width: 1500px;
  overflow: hidden;
  border: 1px solid maroon;
  background: pink;
}
.hid-box {
  top: 100%;
  position: relative;
  transition: all .3s ease-out;
  background: maroon;
  height: 100%;
}

.box:hover > .hid-box{
  top: 0;
}
